/*styles for the index page*/
/*styling for the main the background image */
main{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: black;
    background-image: url(../images/G.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
/*styling for heading 1 */
main .main-intro h1{
    margin-bottom: 20px;
    font-size: 96px;
    line-height: 106px;
}
/*styling for the main paragraphs */
main  p{
    font-size: 18px;
    line-height: 30px;
}
/*styling for the main quotes paragraph and the border line*/
main .main-quotes p{
   border-left: 4px solid var(--site-color-01);
   padding-left: 20px;
    margin-left: 40px 0;
}

/* styling for the main achor tags*/
main a{
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: var(--site-color-01);
    padding:10px 20px;
    width: fit-content;
}



main .main-quotes p:nth-child(2){
    margin-left: 100px;
}
/* styling for main-intro*/
main .main-intro {
   position: relative;
   right: 10vh;
   padding-bottom: 8vh;
}
/*styling for main-quotes*/
main .main-quotes {
  position: relative;
  left: 10vh;
  padding-bottom: 8vh;

}